@mixin display {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    background-color: #fff;
    padding: 0.8rem 0;

    .content{
        width: 85%;
        max-width: 1280px;
        margin: 0 auto;
        @include display();

        a{
            text-decoration: none;
        }
        
        @media(max-width: 1010px){
            width: 95%;
        }
        .logo{
            @include display();
            justify-content: initial;
            gap: 0.5rem;

            h1{
                font-size: 1.1rem;
                text-transform: uppercase;
                margin-top: 0.2rem;
                letter-spacing: 0.5px;
                font-weight: 900;
                color: rgb(28, 28, 28);
            }

            .logo__icon{
                color: rgb(236, 151, 52);
                font-size: 2rem
            }
        }

        .header__right{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            .search{
                @include display();
                justify-content: initial;
                gap: 0.5rem;
                background-color: rgb(237, 236, 236);
                padding: 0 1rem;

                @media(max-width:550px){
                    padding: 0 0.5rem;
                }
                input{
                    border: none;
                    outline: none;
                    background-color: transparent;
                    padding: 0.8rem 0;

                    @media(max-width:550px){
                        padding: 0.5rem 0;
                    }
                }

                span{
                    font-size: 0.8rem;
                    color: rgba(0,0,0,0.700);
                }
            }
            .header__user{
                .avatar{
                    cursor: pointer;
                }
                .logOut{
                    position: absolute;
                    top: 4rem;
                    right: 5rem;
                }
            }
        }
    }
}