@mixin display {
    display: flex;
}

.share__post{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 0.3px rgb(112, 112, 112);
    padding: 2rem;

    @media(max-width:480px){
        padding: 1rem;
    }

    .flex{
        @include display();
        gap: 1rem;
    }

    .post__left {
        img{
            width: 4rem;
            border-radius: 5px;
        }
    }

    .post__right{
        flex: 1;

        textarea{
            width: 100%;
            border: none;
            outline: none;
            resize: none;
            font-size: 0.8rem;
        }

    }
    .btn__container{
        @include display();
        justify-content: center;
        gap: 0.5rem;
        margin-top: 0.5rem;

        @media(max-width:780px){
            justify-content: center;
        }

        .input{
            display: none;
        }
    }
}

.btn{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rgb(232, 231, 231);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    cursor: pointer;

    &:hover{
        background-color: rgba(160, 160, 160, 0.438);
        transition: 300ms ease-in-out;
    }

    .post__icons{
        font-size: 1.2rem;
    }

    p{
        font-size: 0.7rem;
        text-transform: capitalize;

        span{
            @media(max-width:480px){
                display: none;
            }
        }
    }
}