.filter__btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 0.8rem 0;

    .btn{
        background-color: transparent;
         .icon{
            font-size: 1.7rem;
         }

         p{
            font-size: 0.9rem;
         }
    }
}